
body{
    background-color: brown;
    font-family: 'rajdhani', sans-serif;
}
header{
   color: rgb(197, 22, 22);
 font-size: 44px;
}
main{
    background-color:#f5e3e0 ;
    width: 960px;
    margin: 50px auto 50px auto;
    padding: 50px;
    border-radius: 30px;
}
footer img{
    width: 32px;
    margin: 0 10px;

}
footer{
    width: 100%;
    text-align:center;
    margin: 0 auto 50px auto;
}
